doctype html
html
    head
        meta(charset="utf-8")
        title Axiom
        if css
            style.
                !{css}
        else
            link(rel="stylesheet", href="./main.css")
    body
        #game
            #thrust
            #playerInfo
                #playerSpeed
        #debugStuff
            h3 Debug stuff
            label
                input#ShowDirectionalVectors(type="checkbox")
                |Show directional vectors
            pre#debugOutput

        #version %Git-Version%
        
        if js
            script.
                !{js}
        else
            script(src="./main.js", async)
